* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
   font-family: courier, monospace;
   font-size: 14px;
}

.fn-form {
    position: absolute;
    margin: 20px 50px;
    display: inline-block;
    padding: 20px;
    box-shadow: 0 5px 16px rgba(0,0,0,.35);
    width: 450px;
    background-color: #fff;
}
.fn-form fieldset {
    padding: 10px;
    border-color: #fff;
    border-style: solid;
    border-width: 1px;
    margin-top: 20px;
}
.fn-form fieldset legend {
    color: #aaa;
}
.fn-form .declaration {
    width: 99%;
    height: 150px;
    resize: vertical;
    outline: none;
    border: 1px solid #ccc;
    padding: 4px;
}
.fn-form .properties {
    padding: 6px 4px;
    background-color: #e5e5e5;
}
.fn-form .properties:nth-of-type(2n+1) {
    background-color: #efefef;
}
.fn-form .properties .label {
    font-weight: 700;
    display: inline-block;
    width: 30%;
}
.fn-form .invocation {
    display: inline-block;
    width: 95%;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 4px;
    outline: none;
    margin: 0 5px;
}

svg {
    margin: 20px 320px;
    /*background-color: whitesmoke;*/
}